<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Processes" type="Conformist.Configuration.ProcessConfigSection, Conformist" />
  </configSections>
  <Processes>
    <ProcessConfig AutoStart="true">
      <Name>Demo</Name>
      <Path>cmd.exe</Path>
    </ProcessConfig>
  </Processes>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>